div {
    text-align: center;
    font-size: x-large;
    color: darkgreen;
    text-shadow: 1px 3px 3px black;
}
.error-output{
    margin-left: 10px;
    text-shadow: 0px 0px 0px;
    color: red;
    font-style: italic;
}